<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="" type="image/x-icon">
  <title>Home - Moai</title>

  <!-- Abaixo: metadados para o SEO -->

</head>

<body>
  <header>
    <h1>Moai</h1>
    <nav>
      <div class="header_button" id="about_button"></div>
      <div class="header_button" id="contact_button"></div>
      <div class="header_button" id=""></div>
      <div class="header_button"></div>
    </nav>
  </header>
  <main>
    <h1>Olá mundo!</h1>

  </main>
  <footer>

  </footer>
</body>

</html>