<!DOCTYPE html>
<html lang="pt-BR">

<!-- Head da página -->
{% include "../partials/_head.html" %} <!-- Django faz a inclusão do conteúdo HTML da partial _head.html -->

<!-- Início do corpo da página -->

<body>
    <!-- Cabeçalho da página -->
    {% include "../partials/_header.html" %} <!-- Django faz a inclusão do conteúdo HTML da partial _header.html -->

    <!-- Conteúdo principal da página -->
    <main>
        <h1>
            O QUE É A MOAI?
        </h1>
        <p>
            O Projeto Moai foi desenvolvido após uma análise do formato operacional de diversos comércios locais com altíssimo potencial, no qual chegamos à conclusão de que muito deste potencial está sendo desperdiçado por, simplesmente, não ajustarem-se ao mundo tecnológico no qual vivemos hoje, e, devido a isso, não serem vistos na internet.
Nosso objetivo é desbloquear o potencial desses negócios e fazer com que tirem o maior proveito deste novo cenário no qual nos encontramos atualmente!
        </p>
    </main>

    <!-- Rodapé da página -->
    {% include "../partials/_footer.html" %} <!-- Django faz a inclusão do conteúdo HTML da partial _footer.html -->

</body>

</html>