<!DOCTYPE html>
<html lang="pt-BR">

<!-- Head da página -->
{% include "../partials/_head.html" %} <!-- Django faz a inclusão do conteúdo HTML da partial _head.html -->

<!-- Início do corpo da página -->
<body>
    <!-- Cabeçalho da página -->
    <header>

    </header>
    <!-- Conteúdo principal da página -->
    <main>

    </main>

    <!-- Rodapé da página -->
    {% include "../partials/_footer.html" %}  <!-- Django faz a inclusão do conteúdo HTML da partial _footer.html -->
    
</body>

</html>