{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<!-- Head da página -->
{% include "../partials/_head.html" %} <!-- Django faz a inclusão do conteúdo HTML da partial _head.html -->

<!-- Início do corpo da página -->

<body>
  <!-- Cabeçalho da página -->
  {% include "../partials/_header.html" %} <!-- Django faz a inclusão do conteúdo HTML da partial _header.html -->

  <!-- Conteúdo principal da página -->
  <main class="main-container">
    <section class="main-text-content">
      <div>
        <h1 id="main-title">CHEGOU A HORA DE ALAVANCAR SEU NEGÓCIO</h1>
        <h2 id="main-subtitle">Seja notado, atraia clientes e impulsione suas vendas. Chegou a hora de dar o próximo passo para o sucesso digital. Vamos construir juntos a presença online que seu negócio merece.</h2>
      </div>
    </section>
    <section class="main-image-content">
      <img src="{% static 'images/website-construction.png' %}" alt="Desenho da construção de um website">
    </section>
  </main>

  <section class="columns">
    <!-- Primeira coluna -->
    <div class="first-column">
      <h3 id="first-column-title">Criação de sites</h3>
      <p>Transformamos sua visão em realidade digital! Criamos sites personalizados que destacam sua marca, atraindo clientes e impulsionando seu negócio.</p>
    </div>
    <!-- Segunda coluna -->
    <div class="second-column">
      <h3 id="second-column-title">Reformulação de sites</h3>
      <p>Atualize sua presença online! Deixe-nos transformar seu site antigo em uma plataforma moderna, atraente e funcional. A reformulação de site é a chave para se manter relevante e impactar positivamente seus visitantes.
      </p>
    </div>
    <!-- Terceira coluna -->
    <div class="third-column">
      <h3 id="third-column-title">Hosting</h3>
      <p>Garantimos estabilidade e desempenho para o seu site! Nossa hospedagem oferece servidores confiáveis, velocidade excepcional e suporte técnico dedicado. Foque no seu negócio enquanto cuidamos da infraestrutura
        online.</p>
    </div>
    <!-- Quarta coluna -->
    <div class="fourth-column">
      <h3 id="fourth-column-title">Tráfego local</h3>
      <p>Conecte-se com sua comunidade! Aumentamos sua visibilidade local online, direcionando tráfego relevante para seu negócio. Esteja presente onde importa e alcance clientes próximos de forma eficiente.</p>
    </div>
  </section>

  <!-- Rodapé da página -->
  {% include "../partials/_footer.html" %} <!-- Django faz a inclusão do conteúdo HTML da partial _footer.html -->

</body>

</html>