<!DOCTYPE html>
<html lang="pt-BR">

<!-- Head da página -->
{% include "../partials/_head.html" %} <!-- Django faz a inclusão do conteúdo HTML da partial _head.html -->

<!-- Início do corpo da página -->

<body>
  <!-- Cabeçalho da página -->
  {% include "../partials/_header.html" %} <!-- Django faz a inclusão do conteúdo HTML da partial _header.html -->

  <!-- Conteúdo principal da página -->
  <main>
    <div class="main-container">
      <h1>Olá mundo!</h1>
    </div>
  </main>

  <!-- Rodapé da página -->
  {% include "../partials/_footer.html" %} <!-- Django faz a inclusão do conteúdo HTML da partial _footer.html -->

</body>

</html>