{% load static %}

<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-links">
                <div class="footer-link">
                    <a href="/about">
                        <span>Quem somos</span>
                    </a>
                    <a href="/contact">
                        <span>Fale conosco</span>
                    </a>
                    <a href="/privacity">
                        <span>Política de privacidade</span>
                    </a>
                    <a href="/support">
                        <span>Ajuda e suporte</span>
                    </a>
                    <a href="/app">
                        <span>Obtenha o aplicativo</span>
                    </a>
                    <a href="/social-media">
                        <span>Siga-nos nas redes sociais</span>
                    </a>
                    <a href="/acessibility">
                        <span>Declaração de acessibilidade</span>
                    </a>
                </div>
            </div>
            <div>
                    <img class="footer-logo" src="{% static 'images/logo-moai.png' %}" alt="Logo do Moai">
                    <span>© 2023 Projeto Moai - Todos os direitos reservados</span>
            </div>
        </div>
    </div>
</footer>