{% load static %}

<header>
    <div class="main-header container">
        <div>
            <img class="header-logo" src="{% static 'images/logo-moai.png' %}" alt="Logo do Moai">
        </div>
        <nav>
            <div class="header-button" id="about-button">
                <a href="about/">
                    <span>SOBRE NÓS</span>
                </a>
            </div>
            <div>
                <a href="/services">
                    <span>SERVIÇOS</span>
                </a>
            </div>
            <div>
                <a href="/portfolio">
                    <span>PORTFÓLIO</span>
                </a>
            </div>
            <div class="header-button" id="contact-button">
                <a href="contact/">
                    <span>CONTATO</span>
                </a>
            </div>
            <div class="header-button" id="faq-button">
                <a href="/faq">
                    <span>FAQ</span>
                </a>
            </div>
        </nav>
    </div>
</header>