/* ESTILIZAÇÃO DA HEADER */
.main-header-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1210px;
}

.header-items img {
    width: 98px;
    height: 98px;
}

.header-items ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 68px;
}

.header-items a {
    text-decoration: none;
    color: #212121;
    font-size: 15px;
    margin-top: 39px;
}