/* ESTILIZAÇÃO DO CONTEÚDO PRINCIPAL */
.main-container {
    display: flex;
    justify-content: center;
    margin-top: 118px;
    margin-bottom: 118px;
    gap: 118px;
}

.main-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 433px;
}

.main-text-content h1 {
    color: #082243;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.main-text-content h2 {
    color: #082243;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.columns {
    display: flex;
    justify-content: center;
    gap: 47px;
}

.column {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 25px 36px 94px 36px;
    width: 270px;
    height: 340px;
    gap: 20px;
    text-align: center;
    border-radius: 25px;
}

.column h3 {
    color: #212121;
    text-align: center;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.column p {
    color: #212121;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
