{% load static %}

<footer>
    <div class="footer-container">
        <div class="footer-items">
            <div class="footer-links">
                <div class="links-column">
                    <a href="/sobre">
                        <p>Quem somos</p>
                    </a>
                    <a href="/contato">
                        <p>Fale conosco</p>
                    </a>
                </div>
                <div class="links-column">
                    <a href="/privacidade">
                        <p>Política de privacidade</p>
                    </a>
                    <a href="/ajuda">
                        <p>Ajuda e suporte</p>
                    </a>
                </div>
                <div class="links-column">
                    <a href="/redes-sociais">
                        <span>Siga-nos nas redes sociais</p>
                    </a>
                    <a href="/aplicativo">
                        <p>Obtenha o aplicativo</p>
                    </a>
                </div>
                    <a href="/acessibilidade">
                        <p>Declaração de acessibilidade</p>
                    </a>
            </div>
            <div class="footer-logo">
                    <img src="{% static 'home/images/logo-moai.png' %}" alt="Logo do Moai">
                    <p>© 2023 Projeto Moai - Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</footer>