{% load static %}

<header class="main-header-container">
    <div class="header-items">
        <div>
            <img class="header-logo" src="{% static 'home/images/logo-moai.png' %}" alt="Logo do Moai">
        </div>
        <nav class="header-nav">
            <ul>
                <li class="header-button" id="about-button">
                    <a href="/sobre">
                        <span>SOBRE NÓS</span>
                    </a>
                </li>
                <li>
                    <a href="/servicos">
                        <span>SERVIÇOS</span>
                    </a>
                </li>
                <li>
                    <a href="/portfolio">
                        <span>PORTFÓLIO</span>
                    </a>
                </li>
                <li class="header-button" id="contact-button">
                    <a href="/contato">
                        <span>CONTATO</span>
                    </a>
                </li>
                <li class="header-button" id="faq-button">
                    <a href="/faq">
                        <span>FAQ</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>