{% load static %}

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Título -->
  <title>Moai - {{title}}</title>
  
  <!-- CSS ** Essa organização é provisória, não sei se é legal separar, mas separei por enquanto por questões de organização -->
  <link rel="stylesheet" href="{% static 'home/styles/style.css' %}">

  <!-- Condicional que carrega o CSS para home se o partial for chamado pelo home.html; A checagem verifica a variável de contexto 'title', setada na definição da view da página. -->
  {% if title == "Home" %}
    <link rel="stylesheet" href="{% static 'home/styles/home.css' %}">
  {% endif %}

  <!-- Ícone -->
  <link rel="shortcut icon" href="{% static 'home/images/logo-moai.png' %}" type="image/x-icon">

  <!-- Fontes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>