* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILIZAÇÃO DA HEADER */
.main-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 6.125rem;
    height: 6.125rem;
}

nav ul {
    display: flex;
}

nav li,
a {
    padding: 0 0 0 35px;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    color: #212121;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* Espaçamento entre os itens de navegação */
}

/* ESTILIZAÇÃO DO BODY */
body {
    font-family: 'Inter', sans-serif;
    background:
        linear-gradient(to bottom, #F4F9FF 0, #F4F9FF 65%, #082245 65%, #082245 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 90rem;
    margin-top: 101px;
}

.main-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 27.0625rem;
}

#main-title {
    color: #082243;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#main-subtitle {
    color: #082243;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.columns {
    position: relative;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    margin-top: 94px;
    padding: 0 5rem;
    display: flex;
    text-align: center;
}

.first-column {
    width: 270px;
    height: 340px;
    flex-shrink: 0;
    margin: 0 50px;
    background-color: #FFFFFF;

    color: #212121;
font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.second-column {
    width: 270px;
    height: 340px;
    flex-shrink: 0;
    margin: 0 50px;
    background-color: #FFFFFF;
}

.third-column {
    width: 270px;
    height: 340px;
    flex-shrink: 0;
    margin: 0 50px;
    background-color: #FFFFFF;
}

.fourth-column {
    width: 270px;
    height: 340px;
    flex-shrink: 0;
    margin: 0 50px;
    background-color: #FFFFFF;
}

/* ESTILIZAÇÃO DO FOOTER */
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.footer-logo {
    width: 6.125rem;
    height: 6.125rem;
    flex-shrink: 0;
}